%list-nav {
  text-decoration: none;
  text-transform: uppercase;
}

%link-hover {
  background-color: $color-dark;
  color: $very-light-grey;
}

%link-active {
  background-color: $color-white;
  color: $color-dark;
}

%list-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-dark;
  text-decoration: none;
}
