*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Public Sans";
  src: url(../fonts/Public_Sans/PublicSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Ibarra Real Nova";
  src: url(../fonts/Ibarra_Real_Nova/IbarraRealNova-VariableFont_wght.ttf);
}

h1,
h2,
h3 {
  font-family: "Ibarra Real Nova";
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: $color-dark;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  opacity: 0.8;
  color: $color-dark;
}

body {
  all: inherit;
  overflow-x: hidden;
  font-family: "Public Sans";
}

img {
  max-width: 100%;
}
